@use "../abstracts/layout";
@use "../abstracts/respond";
@use "../abstracts/fonts";
@use "../abstracts/colors";
@use "../abstracts/size";
@use "../abstracts/layers";

$selected-menu-item: colors.$orange-500;
$menu-background : hsla(0, 0%, 100%, 0.9);

.primary-nav {
  position: fixed;
  font-family: fonts.$avenir;
  @include layers.set('primary-nav');
  top: 0;

  // The initial mobile menu or top level menu items
  .top-menu {
    position: absolute;
    width: 100vw;
    height: 100vh;
    padding: 20vh 15vw 0 15vw;
    background-color: hsla(0, 0%, 100%, 0.9);

    .current-menu-item {
      color: $selected-menu-item;
    }

    .menu-item {
      text-transform: uppercase;
      font-size: 2rem;
      padding: 1em 0;
      font-weight: 700;
      letter-spacing: 0.1em;
    }
  }

  // Slide left animation
  // TODO: factor this into the main menu
  .slide-menu {
    $easing: cubic-bezier(.6, .05, .28, .91);
    overflow: visible;
    left: -100vw;
    transition: all 250ms ease-in-out;

    &--opened {
      transform: translateX(100vw);
    }
  }

  // The sub menu pages
  .sub-menus {
    overflow: visible;

    .sub-menus-list {
      overflow: visible;

      .slide-right--opened {
        transform: translateX(-100vw);
      }
    }

    // Hide sub menus for items that do not have children.
    .sub-menus-list > .menu-item:not(.menu-item-has-children) {
      display: none;
    }

    // Top level menu items
    .sub-menus-list > .menu-item {
      text-transform: uppercase;
      font-size: 2rem;
      padding: 1em 0;
      font-weight: 700;
      letter-spacing: 0.1em;
    }

    // 1st level list of sub menu items
    .sub-menus-list > .menu-item.menu-item-has-children {
      height: 100vh;
      width: 100vw;
      padding: 20vh 2rem 0 15vw;
      background-color: hsla(0, 0%, 100%, 0.9);

      position: fixed;
      top: 0;
      $easing: cubic-bezier(.6, .05, .28, .91);
      overflow: visible;
      right: -100vw;
      transition: all 250ms ease-in-out;
    }

    // 1st level sub menu item
    .sub-menus-list > .menu-item.menu-item-has-children > .sub-menu > .menu-item {
      text-transform: capitalize;
      font-weight: 400;
      padding: 2rem 0 0 2rem;

      // 2nd level list of menu items
      .sub-menu {
        padding: 2rem 0 0 2rem;
        font-size: 1.6rem;

        // 2nd level sub menu item
        .menu-item {
          padding: 0.5em 0;
        }
      }
    }
  }

}
