@use "../abstracts/fonts";
@use "../abstracts/layout";

.single {
  &-inner {
    background-color: black;
  }

  &-content {
    position: relative;
    z-index: 3;
    background-color: white;
    @include layout.wrap-standard;
    padding: 3em;

    p {
      line-height: 1.3;
      font-size: 1.6rem;
      font-family: fonts.$crimson;
    }
  }
}