// Colors
$orange-700: hsl(20, 54%, 20%);
$orange-500: hsl(23, 73%, 51%);
$orange-300: hsl(18, 76%, 93%);

$gray-700: hsl(345, 6%, 13%);
$gray-500: hsl(30, 1%, 30%);
$gray-300: hsl(240, 2%, 91%);

$gold-700: hsl(45, 41%, 23%);
$gold-500: hsl(45, 58%, 59%);
$gold-300: hsl(43, 60%, 94%);

$blue-700: hsl(202, 58%, 15%);
$blue-500: hsl(208, 58%, 23%);
$blue-300: hsl(213, 19%, 89%);

$black: black;
$white: white;

$all: (
        'orange-700': $orange-700,
        'orange-500': $orange-500,
        'orange-300': $orange-300,
        'gray-700': $gray-700,
        'gray-500': $gray-500,
        'gray-300': $gray-300,
        'gold-700': $gold-700,
        'gold-500': $gold-500,
        'gold-300': $gold-300,
        'blue-700': $blue-700,
        'blue-500': $blue-500,
        'blue-300': $blue-300,
        'black': $black,
        'white': $white
);
