@use "size";
@use "layout";

// Responsive Design
$breakpoints: (
        'small': (min-width: size.rem(370)),
        'medium': (min-width: size.rem(600)),
        'large': (min-width: size.rem(1000)),
        'huge': (min-width: size.rem(1200)),
        'wrap-standard': (min-width: layout.$wrap-standard),
        'wrap-wide': (min-width: layout.$wrap-wide),
);

/// Responsive breakpoint manager
/// @access public
/// @param {String} $breakpoint - Breakpoint
/// @requires $breakpoints
@mixin at($breakpoint) {
  $raw-query: map-get($breakpoints, $breakpoint);

  @if $raw-query {
    $query: if(
                    type-of($raw-query) == 'string',
                    unquote($raw-query),
                    inspect($raw-query)
    );

    @media #{$query} {
      @content;
    }
  } @else {
    @error 'No value found for `#{$breakpoint}`. '
         + 'Please make sure it is defined in `$breakpoints` map.';
  }
}
