@use "../abstracts/layout";

$sizes: (
        'xs': 0.25,
        'sm': 0.5,
        'nrm': 1,
        'md': 1.25,
        'lg': 1.5,
        'xl': 2,
        'xxl': 3
);

$sides: (
        "t": top,
        "b": bottom,
        "l": left,
        'r': right
);

$types: (
        "p": padding,
        'm': margin
);

$units: (
        "r": 'rem',
        "e": 'em'
);

@each $size_abr, $size in $sizes {
  @each $unit_abr, $unit in $units {
    @each $type_abr, $type in $types {
      @each $sides_abr, $side in $sides {
        .sp-#{$type_abr}#{$sides_abr}-#{$size_abr}-#{$unit_abr} {
          #{$type}-#{$side}: #{$size}#{$unit};
        }
      }

      .sp-#{$type_abr}y-#{$size_abr}-#{$unit_abr} {
        #{$type}-top: #{$size}#{$unit};
        #{$type}-bottom: #{$size}#{$unit};
      }

      .sp-#{$type_abr}x-#{$size_abr}-#{$unit_abr} {
        #{$type}-left: #{$size}#{$unit};
        #{$type}-right: #{$size}#{$unit};
      }

      .sp-#{$type_abr}a-#{$size_abr}-#{$unit_abr} {
        #{$type}-left: #{$size}#{$unit};
        #{$type}-right: #{$size}#{$unit};
        #{$type}-top: #{$size}#{$unit};
        #{$type}-bottom: #{$size}#{$unit};
      }
    }
  }
}