@use "../abstracts/size";
@use "../abstracts/fonts";

$sizes: (
        'xs': size.rem(8),
        'sm': size.rem(12),
        'nrm': size.rem(16),
        'md': size.rem(22),
        'lg': size.rem(32),
        'xl': size.rem(48),
        'xxl': size.rem(72)
);

$letter-spacing: (
        '2': 0.2em,
        '5': 0.5em,
        '8': 0.8em,
        '10': 0.1em,
        '15': 0.15em,
        '20': 0.2em,
        '25': 0.25em,
        '30': 0.3em
);

@mixin body-text {
  font-family: fonts.$crimson;
  line-height: 1.4;
}

@mixin title {
  font-family: fonts.$crimson;
  font-size: size.rem(48);
  line-height: 1.4;
}

@mixin subtitle {
  font-family: fonts.$crimson;
  font-style: italic;
  font-size: size.rem(35);
  line-height: 1.4;
}

@mixin heading1 {
  font-family: fonts.$avenir;
  font-size: size.rem(32);
  line-height: 1.4;
}

@mixin heading2 {
  font-family: fonts.$avenir;
  font-size: size.rem(26);
  line-height: 1.4;
}

@mixin heading3{
  font-family: fonts.$avenir;
  font-weight: 600;
  font-size: size.rem(22);
  line-height: 1.4;
}

@mixin heading4{
  font-family: fonts.$avenir;
  font-weight: 600;
  font-size: size.rem(18);
  text-transform: uppercase;
  letter-spacing: 0.2em;
  line-height: 1.4;
}

@mixin heading5{
  font-family: fonts.$avenir;
  font-weight: 600;
  font-size: size.rem(12);
  text-transform: uppercase;
  letter-spacing: 0.2em;
  line-height: 1.4;
}

@mixin text-block ($bg-color, $text-color) {
  display: inline-block;
  font-family: fonts.$avenir;
  font-weight: 500;
  text-transform: uppercase;
  color: $text-color;
  font-size: 0.8rem;
  padding: 0.5em 1em;
  background-color: $bg-color;
}
