@use "../abstracts/colors";
@use "../abstracts/size";
@use "typography-mixins" as typ;

.title {
  @include typ.title;
}

.subtitle {
  @include typ.subtitle;
}

.h1 {
  @include typ.heading1;
}

.h2 {
  @include typ.heading2;
}

.h3 {
  @include typ.heading3;
}

.h4 {
  @include typ.heading4;
}

.h5 {
  @include typ.heading5;
}

.body-text {
  @include typ.body-text
}

.text-block--white {
  @include typ.text-block(colors.$gray-300, black);
}

.text-block--orange {
  @include typ.text-block(colors.$orange-500, white);
}

.text-block--blue {
  @include typ.text-block(colors.$blue-500, white);
}

.txt--it {
  font-style: italic;
}

.txt--up {
  text-transform: uppercase;
}

@each $name, $size in typ.$sizes {
  .txt--#{$name} {
    font-size: $size;
  }
}

@each $name, $color in colors.$all {
  .txt--#{$name} {
    color: $color;
  }
}

@each $name, $spacing in typ.$letter-spacing {
  .tx-sp--#{$name} {
    letter-spacing: $spacing;
  }
}

