@use "../abstracts/abstracts" as a;
@use "../base/typography-mixins" as t;

.about-wof {

  &-wrap {
    display: flex;
    align-items: center;
    @include a.layout-wrap-wide;
  }

  h1 {
    @include t.heading1;
    @include a.layout-wrap-wide;
    font-size: 2.5rem;
  }

  &-img {
    min-width: 400px;
    position: relative;
    height: 100%;
    align-self: flex-end;

    img {
      width: 100%;
      height: auto;
    }
  }

  &-heading {
    @include t.title;
    font-size: 2rem;
  }

  &-cap {
    @include t.text-block(a.$colors-orange-500, a.$colors-white);
    padding-bottom: 0.5rem;
  }

  &-content {
    padding: 2rem;
    flex: 1 1 auto;

    a {
      margin-top: 0.5rem;
    }
  }

  &-latest {
    position: relative;
    min-width: 350px;
    padding: 1rem;

    &-wrap {
      position: relative;
      @include a.layers-set('overlay-top');
      display: flex;
      height: 100%;
      justify-content: flex-end;
      flex-direction: column;
      align-items: flex-start;
      padding-top: 50%;

      h3 {
        @include t.subtitle;
        color: white;
        font-size: 1.5rem;
      }
    }

    img {
      @include a.layout-absolute-cover;
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
      @include a.layers-set('overlay-img')
    }
  }
}